body {
  /* background-color: blueviolet; */
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
}

.text-input {
  padding: 5px 10px;
  font-size: 16px;
  display: block;
  width: 100%;
  border-radius: 0;
  border: 1px solid #000;
}
