table {
  border: 1px solid black;
  width: 600px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #cacaca;
}

tr:hover {
  outline: 2px solid darkgoldenrod;
}

/* responsive */

.responsive-table-overflow {
  width: 400px;
  overflow: auto;
}

article {
  height: 200px;
  border: 4px dashed #000;
}
